<%- include('includes/head')%>

    <link rel="stylesheet" href="/public/css/animation.css" />
    <link rel="stylesheet" href="./public/css/style.css" />

    <title>Authenticatios</title>
  </head>
  <body>
    <div class="page-container">
      <div class="content-wrap">
          <div class="">
              <% if(!accountState){ %>
                <a class="btn btn-primary float-right mt-5 ml-2 mr-3" href="auth/signup"
                >SignUp</a
              >
              <a class="btn btn-primary float-right mt-5 ml-2" href="auth/login">Login</a>
              <% } %>
              <% if(accountState){ %>
                <a class="btn btn-primary float-right mt-5 ml-2 mr-3" href="/auth/logout">Logout</a>
                <a class="btn btn-primary float-right mt-5 ml-2" href="admin/edit">My account</a>
              <% } %>
            </div>
            <div class="jumbotron main-bg-color">
              <h1 class="display-4">Picland</h1>
              <p class="lead">Add your favorite picture links</p>
              <hr class="my-4" />
              <p class="lead">Add image and descibe</p>
            </div>
        

            
            <div class="container">
              <div class="card-columns">
                <% if(userCards.length !== 0){ %>
                  <% userCards.forEach(card => { %>
                    <div class="card animated rollIn">
                        <img data-toggle="modal" data-target="#<%= 'modal' + card._id %>"
                        class="card-img-top imageCardPointer"
                        src="<%= card.image %>"
                        alt=""
                        />
                      <div class="card-body">
                        <blockquote class="blockquote text-right">
                          <p class="mb-0"><%= card.description %></p>
                          <footer class="blockquote-footer">Created by <cite title="Source Title"><%= card.creator %></cite></footer>
                        </blockquote>
                      </div>
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="<%= 'modal' + card._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                              <img
                              class="card-img-top"
                              src="<%= card.image %>"
                              alt=""
                            />
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  <% }) %>
                <% } else {%>
                    <h1>No cards</h1>
                <% } %>
              </div>
            </div>
      </div>
    </div>

    <%- include('includes/footer')%>
    <script src="/public/js/imageModal.js"></script>
    <%- include('includes/end')%>

